<template>
  <div>
    <h2>Daily Task</h2>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nama" placeholder="Add Task.." v-model="nama" />
      </div>
      <div class="col-sm-2">
        <button type="button" @click="tambahTask" class="btn btn-primary">Tambah</button>
      </div>
    </div>
		<div v-if="tasks.length">
    <ul class="list-group" v-for="(task, index) in tasks" :key="index">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" @click="setStatus(index)" type="checkbox" value="true" id="defaultCheck1" />
          <label :class="[{'is-done':task.isComplete},'form-check-label ml-2']" for="defaultCheck1">{{task.nama}}</label>
					<a href="#" class="float-right" @click="deleteTask(index)">Hapus</a>
        </div>
      </li>
    </ul>
		</div>
		<div v-else class="text-center">
			<h3>Ayo di isi task nya ..</h3	>
		</div>
  </div>
</template>
<script>
export default {
  name: "task",
  data() {
    return {
      tasks: [
        { nama: "Pergi kepasar", isComplete: true },
        { nama: "Ngopi", isComplete: false }
      ],
      nama: ""
    };
	},
	methods:{
		tambahTask(){
			var a = this.nama;
			this.tasks.push({
				nama: this.nama,
				isComplete: false
			});

			this.nama = '';
		},
		deleteTask(index){
			this.tasks.splice(index,1);
		},
		setStatus(index){
			this.tasks[index].isComplete = !this.tasks[index].isComplete;
		}
	}
};
</script>
<style>
.is-done{
	text-decoration: line-through;
}
</style>